
.chat-bubble {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	text-align: center;
	position: absolute;
	bottom: 2em;
	left: 90%;
	width: 8%;
	height: 40px;
	transition: all .25s;
}

.estiloBoton{
	background: #06717D;
	border-radius: 8px;
	text-transform:capitalize;
}
.estiloBoton:hover{
	background: #00AACA;
	color: aliceblue;
}
  
.chat-bubble-hover .status, .chat-bubble:hover .status {
	border: none; 
}
  
.chat-box {
	position: absolute;
	left: 80%;
	bottom: 10%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	height: 30em;
	min-width: 20em;
	padding: .1em;
	background: #FFF;
	transition: all 1s;
	border-radius: 8px;
	box-shadow: 0px 10px 10px 1px #06717d85; 
}

.chat-box .messages {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-end;
	margin: 0 auto;
	border: 1px solid #cccccc;
	border-radius: 5px;
	height: 80%;
	width: 98%;
	background: #FFF; 
}

.chat-box .messages .msg {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	height: 25px; 
}

.chat-box .input-envio {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	border-radius: 8px;
	height: 19%; 
}

.chat-box .input-envio .control-envio {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center; 
	background-color: #06717D;
	border-radius: 8px;
}

.chat-box .input-envio .control-envio .chat-input {
	height: 50%;
	width: 70%;
	border-radius: 5px;
	margin: auto;
	border: none;
	padding: 0 .6em 0 .6em;
	transition: all .7s;
	color: #06717D; 
	border-color: #06717D;
}

.chat-box .input-envio .control-envio .chat-input:focus {
	background: #ffffff;
	outline: none;	
	color: #000; 
}

.chat-box .input-envio .control-envio .chat-btn {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	width: 20%;
	height: 50%;
	margin: auto;
	background: #06717D;
	border: none;
	text-align: center;
	color: #FFF;
	transition: all .25s;
	border-radius: 2px; 
}

.chat-box .input-envio .control-envio .chat-btn:hover {
	background: white;
	cursor: pointer;
	color: #ffffff; 
}

.chat-box .input-envio .control-envio .chat-btn:focus {
	outline: none; 
}
  
.chat-box.hide {
	top: -27.5em;
	opacity: 0; 
}