<div class="chat-bubble">
	<a class="btn estiloBoton waves-effect waves-light">chat</a>
</div>
<div class="chat-box hide">
    <div class="messages">
		<div *ngFor="let msg of usuarioChat.messages;">
			<div class="msg">{{msg.username}} : {{msg.message}}</div>
		</div>
    </div>
    <div class="input-envio">
        <form (submit)="submit()" class="control-envio">
			<input [(ngModel)]="usuarioChat.message" name="message" class="chat-input" type="text" placeholder="Escribe aquí" />
		</form>
    </div>
</div>